* {
    box-sizing: border-box;
  }
  
  /* Create a two-column layout */
  .column {
    float: left;
    width: 45%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .input {
    width: 33%;
    display: block;
  }

  .submit {
    width: 10em;
    height: 10% ;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    background-color: rgb(126 0 0);
    font-weight: bold;
    color: whitesmoke;
}

.text {
    background-color: rgb(6 4 6);
    color: whitesmoke;
}

.label {
    width: 50%;
}

.editRow {
    display: none;
}